* {
  /* Alle elementen krijg 0 margin */
  margin: 0px;
  box-sizing: border-box;
}

/* Responsive maken */
@media screen and (max-width: 800px) {
  .flexbox {
    /* Stack flexbox in een kolom ipv in een rij op screens die kleiner zijn dan 800px */
    flex-direction: column;
  }
}

body{
  background-color: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

hr{
  color:#f04c25 ;
  background-color: #f04c25;
  height: 3px;
  margin:0px;
  border: none;
}

.container{
  width: 70vw;
  margin: auto;
  background-color: white;
  border: none;
  border-radius: 20px;
}

nav, footer {
  background-color: #008693;
  height: 3em;
  margin: 0px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}

nav{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: end;
  border-top: 3px solid #f04c25;

}

.logo{
  font-weight: bold;
  margin-right: 20px;
}

.nav-item{
  padding: 0px 20px;
  height: 100%;
  display:grid;
  align-items: center;
}
.nav-item:hover{
  background-color: #f04c25;
}

.nav-item.active{
  background-color: #f04c25;
}
.nav-item a{
  color: white;
  text-decoration: none;
}

.main-text{
  padding: 20px;
}
h1{
  font-size: 22px;
}

h2{
  font-size: 18px;
}

p{
  text-align: justify;
}

p, h1, h2{
  margin-bottom: 1em;
}

.row{
  display:grid;
  grid-template-columns: 2fr 1fr;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-col-9{
  width: 64%;
  justify-content: space-between;
}
.flex-col-3{
  width: 33%;
}

.image{
  width: 100%;
}

.img-DJ{
  padding: 50px 0px 20px 20px;
}

#soundcloud-box{
  text-align: center;
}

button,
input[type=button]{
  width: 100%;
  height: 4em;
  background-color: #f04c25;
  color: white;
  border: none;
  border-radius: 10px;
}